/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
*{
    color: white;
}
}
body{
    background-image: url('./assets/vadim-sadovski-aJ8IrfRxqbg-unsplash.jpg');
}
.form-control{
    background-color: #1719194f
}
